.ifc-chat-window {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
  @media screen and (max-width: 750px) {
    height: 100%;
  }
}

#ifc-app .chatcamp-popup {
  max-width: 350px;
  height: 470px;
  position: fixed;
  bottom : 0;
  right: 20px;
  border-radius: 20px;
}
.cc-app-mobile #ifc-app .chatcamp-popup {
  width: 100%;
  height: 100%;
  max-width: initial;
  right: 0!important;
}

#ifc-app .chatcamp-popup-minimize{
  height: auto
}
