.window-message{
  display: block;
  float: right;
  width: 100%;
}
.window-message-receive{
  padding: 1px 0!important;
  margin: 1px 0!important;
  .message-content {
      .message-bubble{
        background-color: #f4f7f9;
        color: #263238;
      }
  }
  .author{
    -webkit-font-smoothing :  antialiased;
  }
  .text{
    -webkit-font-smoothing :  antialiased;
  }
}
.window-message-self {
  padding: 1px 20px 1px 0!important;
  margin: 1px 0!important;
  .comment .content{
    max-width: 90%;
    float: right!important;
    display: inline-block!important;
    .author{
      float: right;
      -webkit-font-smoothing :  antialiased;
    }
    .text{
      -webkit-font-smoothing :  antialiased;
    }
  }
  .message-content {
    float: right;
      .message-bubble{
        background-color: #3f46ad;
        color: #fff;
      }
  }
  .avatar{
    float: right!important;
    margin-left: 14px!important;

  }
}

.ui.segment.window-content {
  overflow-y: auto;
  background-color: #fff;
  .ui.comments {
    padding: 6px 0;
    margin: 6px 0;
    // &:hover {
    //   background-color: #eee;
    // }
  }
  .ui.comments .comment .metadata {
    float: right;
  }

  .ui.comments .comment .metadata.role {
    float: initial;
  }
}
.ui.segment.window-content.cc-popup {
  height: calc(100% - 103px);
}
.ui.segment.window-content.cc-embed {
  height: calc(100% - 117px);
}

// .message-content {
//     width: 93%;
//     margin-right: 0;
//     padding-right: 0;
//     display: inline-block;
// }
.message-content {
    // width: 93%;
    margin-right: 0;
    padding-right: 0;
    display: inline-block;
    .message-bubble{
      display: table;
      width: auto;
      background-color: #f4f7f9;
      color: #263238;
      padding: 15px 22px;
      border-radius: 8px;
    }
}

.message-read-receipt {
    width: 2%;
    display: inline-block;
    float: right
}
.ui.comments.window-message{
  max-width: 1200px;
}
