//APP
$app-name: cc;
// UI

// // COLORS
// Light Theme
$primary-backgroud: #3f45ad;
$primary-text: #ffffff;
$secondary-background: #ffffff;
$secondary-text: #000000;
$tertiary-background: #f4f7f9;
$tertiary-text: #263238;

// Dark Theme - Uncomment following lines for dark theme
// $primary-backgroud: #222222;
// $primary-text: #ffffff;
// $secondary-background: #595959;
// $secondary-text: #ffffff;
// $tertiary-background: #f4f7f9;
// $tertiary-text: #263238;







// :export {
//   tertiaryText: $tertiary-text;
// }
