.chatcamp-list-roster{
  height: calc(100% - 47px);
  overflow: auto;
}
.cc-left-panel-inbox{
  // background: #3f46ad;
}
.cc-smart-chat-panel{
  width: 350px;
  height: 470px;
  position: fixed;
  right: 20px;
  bottom: 0;
}
