.cc-chat-window-header {
  background-color: #222;
  .ui.header, i.icon {
    color: #FFF;
    cursor: pointer;
    .sub.header {
      color: #FFF;
      cursor: pointer;
    }
  }
}

.backgroundNone{
  background: none!important;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.header-blink {
  animation: blinker 1s linear infinite;
  animation: blinker 1s linear 10;
}

.headerSettings .item .content{
  cursor: pointer
}
