.cc-chat-window-header {
  background-color: #222;
  .ui.header{
    color: #FFF;
    cursor: pointer;
    .sub.header {
      color: #FFF;
      cursor: pointer;
    }
  }
}
.window-header i.icon.setting {
  color: #FFF;
  cursor: pointer;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}

.backgroundNone{
  background: none!important;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.header-blink {
  animation: blinker 1s linear infinite;
  animation: blinker 1s linear 10;
}

.headerSettings .item .content{
  cursor: pointer
}
