.list-inbox-description{
  margin-left: 50px;
  font-size: 12px;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
}
.list-inbox-header{
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}
.list-item-selected{
  background: rgba(0,0,0,.03)!important;
}
.list-item-time{
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
