.list-inbox .image div, .list-chatroom .image div, .list-users .image div{
  display: block;
}
.list-inbox *, .list-chatroom *, .list-users *{
  cursor: pointer;
}
.list-users>div>div{
  display: block;
}
.list-users .header, .list-chatroom .header{
  color: rgba($secondary-text, 0.87)!important;
}
.list-inbox-description{
  margin-left: 0;
  font-size: 12px;
  line-height: 16px;
  max-width: 100%;
  overflow: hidden;
  max-height: 16px;
  -webkit-font-smoothing: antialiased;
  width: 60%;
  display: inline-block;
  float: left;
  word-wrap: break-word;
  white-space: pre;
  text-overflow: ellipsis;
  color: rgba($secondary-text, 0.70)!important;
}
.list-inbox-header{
  font-size: 14px;
  color: rgba($secondary-text, 0.87)!important;
  -webkit-font-smoothing: antialiased;
}
.list-item-selected{
  background: rgba(0,0,0,.03)!important;
}
.list-item-time{
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  color: rgba($secondary-text, 0.48)!important;
}
.list-inbox-unread{
  font-size: 10.5px;
  -webkit-font-smoothing: antialiased;
  display: inline!important;
  width: 10%;
  float: right;
  margin: 0;
  height: 16px;
  background: #fa3e3e;
  width: 16px;
  text-align: center;
  border-radius: 16px;
  color: white!important;
  margin-right: 7px!important;
  line-height: 16px;
}
.cc-user-list-name{
  display: block;
  -webkit-font-smoothing: antialiased;
  padding-top: 0.65em!important;
  line-height: 36px!important;
}
.cc-chatroom-list-name{
  display: block;
  -webkit-font-smoothing: antialiased;
  padding-top: 0.65em!important;
  line-height: 36px!important;
}
.cc-user-list-status{
  width: 18px;
  top: 18px;
  left: 20px;
  position: absolute;
}
.chatcamp-list-roster-horizontal{
  .secondary.menu{
    background-color: $secondary-background!important;
    border-color: rgba($secondary-text, 0.15)!important;
    .active{
      border-color: rgba($secondary-text, 0.45)!important;
    }
    * {
      color: $secondary-text!important;
    }

  }
  .chatcamp-list-roster-horizontal-item{
    background-color: $secondary-background!important;
  }
}
.cc-app-mobile{
  .chatcamp-list-roster-horizontal{
    .menu{
      a.item{
        font-size: 17px;
      }
    }
  }
  .list-inbox-header{
    font-size: 20px;
  }
  .list-inbox-description{
    font-size: 16px;
  }
  .cc-chatroom-list-name{
    font-size: 20px;
  }
  .cc-user-list-name{
    font-size: 20px;
  }
}
