.list-inbox-description{
  margin-left: 0;
  font-size: 12px;
  line-height: 16px;
  max-width: 100%;
  overflow: hidden;
  max-height: 16px;
  -webkit-font-smoothing: antialiased;
  width: 60%;
  display: inline-block;
  float: left;
  word-wrap: break-word;
  white-space: pre;
  text-overflow: ellipsis;
}
.list-inbox-header{
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
.list-item-selected{
  background: rgba(0,0,0,.03)!important;
}
.list-item-time{
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
.list-inbox-unread{
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  display: inline!important;
  width: 10%;
  float: right;
  margin: 0;
  height: 16px;
  background: #fa3e3e;
  width: 16px;
  text-align: center;
  border-radius: 16px;
  color: white!important;
  margin-right: 7px!important;
  line-height: 16px;
}
.cc-user-list-name{
  -webkit-font-smoothing: antialiased;
  padding-top: 0.65em!important;
  line-height: 36px!important;
}
.cc-chatroom-list-name{
  -webkit-font-smoothing: antialiased;
  padding-top: 0.65em!important;
  line-height: 36px!important;
}
.cc-user-list-status{
  width: 18px;
  top: -15px;
  left: 20px;
}
