.cc-window-progress{
  position: absolute;
  width: 350px;
  .bar{
    background-color: $primary-background;
  }
}
.window-footer {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 10px;
  background-color: $secondary-background;
  .cc-window-footer-inner{
    width: 100%;
    display: flex;
    .cc-footer-elements{
      display: inline-block;
      width: 7.25%;
      height: 19px;
      *{
        cursor: pointer;
      }
    }
    .cc-window-footer-text-main{
      width: 78.25%;
      display: inline-block;
      font-size: 13.5px;
      .window-textarea{
        width: 100%;
        min-height: 19px;
        box-sizing: border-box;
        display: block;
        outline: none;
        padding: 0 13px;
        color: rgba($secondary-text, .70) !important;
        -webkit-font-smoothing: antialiased;
        overflow-x: hidden;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
    .chatcamp-widget-emoji, .chatcamp-widget-attach, .chatcamp-widget-record{
      display: block;
      height: 100%;
    }

    i.icon{
      color: rgba($secondary-text, .48) !important;
      // opacity: 0.7;
      font-size: 18px;
      padding-top: 2px;
      margin: 0px 0px 0px 3.5px;
    }
  }
}

// .backgroundNone{
//   background: none!important;
// }
// .borderNone{
//   border: none!important;
//   resize: none;
// }
.cc-hideMic{
  height: 0;
  width: 0;
  display: none
}

.chatcamp-popup .window-footer {
  // border-radius: 0!important;
}

.window-footer {
  // min-height: 49px;
  // width: 100%;
  // box-sizing: border-box;
  // background-color: $secondary-background;
  // border-radius: 0 0 8px 8px!important;
  // margin: 0!important;
  .cc-window-footer-text-main{
    // padding-top: 0px!important;
    // padding-bottom: 0px!important;
    // font-size: 13.5px;
    // min-height: 49px;
    // box-sizing: border-box;
  //   .window-textarea{
  //     color: rgba($secondary-text, .70) !important;;
  //     outline: none;
  //     -webkit-font-smoothing: antialiased;
  //     width: 100%;
  //     min-height: 23px;
  //     margin-top: 13px;
  //     margin-bottom: 13px;
  //     overflow-x: hidden;
  //     white-space: pre-wrap;
  //     word-wrap: break-word;
  //   }
  }
  // .chatcamp-widget-attach-main{
  //   padding:0!important;
  //   cursor: pointer;
  //   display: block;
  //   height: 49px;
  //   .chatcamp-widget-attach{
  //     width: 24px;
  //     height: 24px;
  //     display: block;
  //     cursor: pointer;
  //     margin-top: 10px;
  //   }
  // }
  // .chatcamp-widget-record-main{
  //   padding:0!important;
  //   cursor: pointer;
  //   display: block;
  //   height: 49px;
  //   .chatcamp-widget-record{
  //     width: 24px;
  //     height: 24px;
  //     display: block;
  //     cursor: pointer;
  //     margin-top: 12px;
  //     font-size: 19px;
  //   }
  // }
  // .chatcamp-widget-send-main{
  //   padding: 0!important;
  //   cursor: pointer;
  //   .chatcamp-widget-send{
  //     width: 24px;
  //   }
  // }
  // .chatcamp-widget-emoji-main{
  //   padding: 0!important;
  //   cursor: pointer;
  //   display: block;
  //   height: 49px;
  //   .chatcamp-widget-emoji{
  //     width: 18px;
  //     margin-top: 10px;
  //     display: block;
  //     cursor: pointer;
  //   }
  // }
  // i.icon {
  //   cursor: pointer;
  //   color: rgba($secondary-text, .70) !important;;
  //   opacity: 0.5;
  //   font-size: 16px;
  // }
}

.cc-app-mobile{
  .cc-window-footer-text-main{
    font-size: 16px;
    min-height: 68px;
    .window-textarea{
      margin-top: 22.5px;
    }
  }
}
.ui.popup.cc-popup-emoji{
  max-width: 360px;
  padding: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba($secondary-text, .70) !important;
    opacity: .7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba($secondary-text, .70) !important;
    opacity: .7;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba($secondary-text, .70) !important;
    opacity: .7;
}
