.backgroundNone{
  background: none!important;
}
.borderNone{
  border: none!important;
  resize: none;
}
.hideMic{
  height: 0;
  width: 0;
  display: none
}

.window-footer {
  min-height: 48px;
  margin: 0!important;
 i.icon {
  cursor: pointer;
  color: rgba($secondary-text, .70) !important;;
  opacity: 0.5;
  // &:hover {
  //   opacity: 1;
  // }
}
}

.backgroundNone{
  background: none!important;
}
.borderNone{
  border: none!important;
  resize: none;
}
.hideMic{
  height: 0;
  width: 0
}

.window-footer {
  min-height: 48px;
  background-color: $secondary-background;
  border-radius: 0 0 8px 8px!important;
  .cc-window-footer-text-main{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    font-size: 13.5px;
    min-height: 48px;
    box-sizing: border-box;
    .window-textarea{
      color: rgba($secondary-text, .70) !important;;
      outline: none;
      -webkit-font-smoothing: antialiased;
      width: 100%;
      min-height: 23px;
      margin-top: 12.5px;
      overflow-x: hidden;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
  .chatcamp-widget-attach-main{
    padding:0!important;
    cursor: pointer;
    .chatcamp-widget-attach{
      width: 24px;
      height: 24px;
      display: block;
      cursor: pointer;
    }
  }
  .chatcamp-widget-send-main{
    padding: 0!important;
    cursor: pointer;
    .chatcamp-widget-send{
      width: 24px;
    }
  }
  .chatcamp-widget-emoji-main{
    padding: 0!important;
    cursor: pointer;
    .chatcamp-widget-emoji{
      width: 18px;
      cursor: pointer;
    }
  }
 i.icon {
  cursor: pointer;
  color: rgba($secondary-text, .70) !important;;
  opacity: 0.5;
  font-size: 16px;
  // &:hover {
  //   opacity: 1;
  // }
}
}
.chatcamp-popup .window-footer {
  border-radius: 0!important;
  max-height: 51px!important;
  box-sizing: border-box;
}
.cc-app-mobile{
  .cc-window-footer-text-main{
    font-size: 16px;
    min-height: 68px;
    .window-textarea{
      margin-top: 22.5px;
    }
  }
}
.ui.popup.cc-popup-emoji{
  max-width: 360px;
  padding: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba($secondary-text, .70) !important;
    opacity: .7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba($secondary-text, .70) !important;
    opacity: .7;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba($secondary-text, .70) !important;
    opacity: .7;
}
