.backgroundNone{
  background: none!important;
}
.borderNone{
  border: none!important;
  resize: none;
}
.hideMic{
  height: 0;
  width: 0;
  display: none
}

.window-footer {
  height: 48px;
 i.icon {
  cursor: pointer;
  color: #222;
  opacity: 0.5;
  // &:hover {
  //   opacity: 1;
  // }
}
}

.backgroundNone{
  background: none!important;
}
.borderNone{
  border: none!important;
  resize: none;
}
.hideMic{
  height: 0;
  width: 0
}

.window-footer {
  height: 48px;
  border-radius: 0 0 8px 8px!important;
  .window-textarea{
    outline: none;
    -webkit-font-smoothing: antialiased
  }
  .chatcamp-widget-attach-main{
    padding:0!important;
    cursor: pointer;
    .chatcamp-widget-attach{
      width: 24px;
    }
  }
  .chatcamp-widget-send-main{
    padding: 0!important;
    cursor: pointer;
    .chatcamp-widget-send{
      width: 24px;
    }
  }
  .chatcamp-widget-emoji-main{
    padding: 0!important;
    cursor: pointer;
    .chatcamp-widget-emoji{
      width: 18px;
    }
  }
 i.icon {
  cursor: pointer;
  color: #222;
  opacity: 0.5;
  font-size: 16px;
  // &:hover {
  //   opacity: 1;
  // }
}
}
.chatcamp-popup .window-footer {
  border-radius: 0!important;
}
