@import "src/styles/vars.scss";
@import "./reset.scss";

@import "./Components/Emoji/style.scss";
@import './Components/ProfileCard/style.scss';
.#{$app-name}-root{
  @import './Components/AudioPlayer/style.scss';
@import './Components/AvatarWrapper/style.scss';
@import './Components/CannedResponse/style.scss';
@import './Components/ChatCampIcon/style.scss';
@import './Components/HiddenChatWindow/style.scss';
@import './Components/LeftPanel/style.scss';
@import './Components/ListHeader/style.scss';
@import './Components/Roster/style.scss';
@import './Components/WelcomeBubble/style.scss';
@import './Components/Window/style.scss';
@import './Components/WindowContent/style.scss';
@import './Components/WindowFooter/style.scss';
@import './Components/WindowHeader/style.scss';

@import 'loaders.css/src/animations/ball-beat.scss';



// .#{$app-name}{

// }

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

.iflychat-popup{
  display: block;
  width: 100%;
  height: 100%;
  float: left;
}
#ifc-app-container{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  // bottom: 0;
  // right: 0;
  @media screen and (max-width: 750px) {
    height: 100%;
  }
}
#ifc-app{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  .loader{
    border: none;
    width: initial;
    height: initial;
  }
  @media screen and (max-width: 750px) {
    height: 100%;
  }
}

.loader {
    border: 16px solid #f3f3f300; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.ifc-chat-list-container{
  display: block;
  float: left;
  position: relative;
  height: 20px;
  bottom: 20px;
  width: 320px;
  margin: 0 20px 0 0;
   @media screen and (max-width: 750px) {
     height: 100%;
     width: 100%;
     margin: 0;
     bottom: 0;
   }
}

.ifc-chat-window-container{
  display: block;
  float: left;
  position: relative;
  z-index: 2147483646;
  // height: 20px;
  // bottom: 20px;
  width: 100%;
  max-width: 500px;
  height: 500px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
  // margin: 20px;
   @media screen and (max-width: 750px) {
     height: 100%;
     width: 100%;
     margin: 0;
     bottom: 0;
     position: absolute;
   }

}
#ifc-app *::-webkit-scrollbar {
    width: 7px;
    // height: 8px;
}
#ifc-app *::-webkit-scrollbar-thumb {
    // -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    background: rgba(0,0,0,0.20);
    border-radius: 7px;
}
.cc-online{
  .cc-icons{
      fill: #4CAF50!important;
  }
}
.cc-offline{
  .cc-icons{
      fill: #aaaaaa!important;
  }
}
.modals{
  z-index: 2147483647;
}
.modal{
  z-index: 2147483647;
}
}

.cc-theme {
  background: $secondary-background!important;
  border-color: rgba($secondary-text, 0.2)!important;
  .header, .content{
    background: $secondary-background!important;
    color: $secondary-text!important;
    .item .text{
      color: $secondary-text!important;
    }
  }
  .menu{
    background: $secondary-background!important;
    color: $secondary-text!important;
    border-color: rgba($secondary-text, 0.2)!important;
    .item .text{
      color: $secondary-text!important;
    }
    *{
      cursor: pointer;
    }
  }
  .menu:after{
    background: $secondary-background!important;
    box-shadow: -1px -1px 0 0 rgba($secondary-text,.2)!important;
  }
  .item .text, .item i:before{
    color: $secondary-text!important;
  }

  .ui.primary.button, .ui.label{
    background: $primary-background!important;
    color: $primary-text!important;
  }
  .ui.button{
    background: $tertiary-background!important;
    color: $tertiary-text!important;
  }

  .ui.buttons .or:before{
    color: $secondary-text!important;
    background: $secondary-background!important;
  }
  .ui.input *, .ui.dropdown, .ui.dropdown *{
    background: $secondary-background!important;
    color: $secondary-text!important;
    border-color: rgba($secondary-text, 0.2)!important;
  }
  audio{
    height: 70px;
  }
}
.ui.popup.cc-theme{
  z-index: 2147483647;
}
.ui.popup.cc-theme:before{
  background: $secondary-background!important;
  // box-shadow: 1px 1px 0 0 rgba($secondary-text,.2)!important;
  box-shadow: none!important;
}
.ui.popup.cc-theme.cc-tooltips, .ui.popup.cc-theme.cc-tooltips *{
  background: $secondary-text!important;
  color: rgba($secondary-background, 0.85)!important;
  border: none!important;
}
.ui.popup.cc-theme.cc-tooltips:before{
  background: $secondary-text!important;
  // box-shadow: -1px -1px 0 0 rgba(red,1)!important;
  box-shadow: none!important;
}

.cc-popup-emoji{
  border-color: rgba($secondary-text,.2)!important;
  background: $secondary-background!important;
  .emoji-mart{
    background-color: $secondary-background!important;
    input, .emoji-mart-skin-swatches{
      background: $secondary-background!important;
      color: $secondary-text!important;
      border-color: rgba($secondary-text, 0.2)!important;
    }
    .emoji-mart-category-label span{
      background-color: rgba($secondary-background, 1)!important;
      color: rgba($secondary-text, 0.85)!important;
    }
    .emoji-mart-anchor{
      color: rgba($secondary-text, 0.4);
      :hover{
        color: rgba($secondary-text, 0.85);
      }
    }
    .emoji-mart-title-label, .emoji-mart-preview-name{
      color: rgba($secondary-text, 0.85);
    }
    .emoji-mart-preview-emoji, .emoji-mart-preview-shortname{
      color: rgba($secondary-text, 0.45);
    }
    // .emoji-mart-skin-swatches{

    // }

  }
}
// .ifc-chat-window *::-webkit-scrollbar-button {
//     width: 0;
//     height: 0;
//     display: none;
// }
// .ifc-chat-window *::-webkit-scrollbar-corner {
//     background-color: transparent;
// }
// .ifc-chat-window ::-webkit-scrollbar-thumb{
//     background-color: rgba(0,0,0,.2);
// }

body > div:first-child, body > div:first-child > div:first-child {
  height: inherit; }

body a {
  cursor: pointer;
}

.ui.modal>.content .message-bubble {
  max-width: 100%;
  height: auto;
}

.ui.modal>.content audio.message-bubble {
  height: 70px;
}

.cc-app-mobile{
  width: 100%;
  height: 100%;
  // .cc-root{
  //   width: 100%;
  //   height: 100%;
  // }
}
.cc-app-mobile.cc-app-mobile-min{
  height: 0;
}

// Custom Changes

// .ifc-chat-window-container {
//     margin: 0;
//     max-width: none;
//     height: auto;
// 	position: static;
// }
//
// .cc-chat-window-header {
//     background: #eef0f3;
//     padding-left: 40px !important;
// }
//
// .cc-chat-window-header .ui.header, .cc-chat-window-header .ui.header .sub.header, .cc-chat-window-header i.icon, .cc-chat-window-header i.icon .sub.header {
//     color: #303841;
// }
//
// .ui.segment.window-content {
//     background-color: #eef0f3;
//     padding-left: 40px;
// }
//
// .ifc-chat-window-container .ui.grid>.row> .middle{
//     width: 30px !important;
//     padding: 0;
// }
//
//
// .ifc-chat-window-container .ui.grid>.row> .left {
//     margin: 0;
//     width: auto !important;
// }
//
// .ifc-chat-window-container .ui.grid>.row> .right {
//     margin: 0;
//     position: absolute;
//     width: 30px !important;
//     padding: 0;
//     right: 20px;
//     top: 16px;
// }
//
// .ui.segment.window-content .ui.comments {
//     max-width: none !important;
// }
//
// .ui.comments .comment .text > div {
//     background: #fff;
//     display: inline-block;
//     padding: 5px 10px;
//     border-radius: 3px;
//     position: relative;
//     box-shadow: 1px 2px 1px rgba(0,0,0,0.1);
// }
//
// .ui.comments .comment .text > div:before {
//     position: absolute;
//     content: '';
//     left: -10px;
//     top: 5px;
//     border: 5px solid transparent;
//     border-right-color: #fff;
// }
//
// .ui.compact.segment .ten {
//     width: 68.25% !important;
// }
//
// .ui.compact.segment .ten
//  textarea {
//     height: 25px !important;
//     font-size: 16px;
// }
//
// @media(max-width: 767px){
//     .ui.compact.segment .ten{width: 67% !important;}
// }
//
// .ifc-chat-window .compact.segment {
//     border: none;
//     color: #d6dce1;
// }
//
// .ifc-chat-window .compact.segment i.icon {
//     font-size: 2em;
// }
//
// .ui.compact.segment input[type="file"] {
//     display: none;
// }
//
// .ifc-chat-window .compact.segment > div {
//     height: 78px;
// }
//
// .ui.compact.segment .ten textarea:hover, .ui.compact.segment .ten textarea:focus {
//     outline: none;
// }
