.ui.segment.window-content {
  height: calc(100% - 147px);
  overflow-y: auto;
  background-color: #fafafb;
  .ui.comments {
    &:hover {
      // background-color: #eee;
    }
  }
  .ui.comments .comment .metadata {
    float: right;
  }

  .ui.comments .comment .metadata.role {
    float: initial;
  }
}

.message-content {
    width: 93%;
    margin-right: 0;
    padding-right: 0;
    display: inline-block;
}

.message-read-receipt {
    width: 5%;
    display: inline-block;
}
