// .ui.segment.window-content {
//   overflow-y: auto;
//   background-color: #fafafb;
//   .ui.comments {
//     padding: 6px 0;
//     margin: 6px 0;
//     &:hover {
//       background-color: #eee;
//     }
//   }
//   .ui.comments .comment .metadata {
//     float: right;
//   }
//
//   .ui.comments .comment .metadata.role {
//     float: initial;
//   }
// }
// .ui.segment.window-content.cc-popup {
//   height: calc(100% - 103px);
// }
// .ui.segment.window-content.cc-embed {
//   height: calc(100% - 117px);
// }
//
// .message-content {
//     width: 93%;
//     margin-right: 0;
//     padding-right: 0;
//     display: inline-block;
// }
//
// .message-read-receipt {
//     width: 5%;
//     display: inline-block;
// }
.window-message{
  display: block;
  float: right;
  width: 100%;
  .avatar{
    div{
      display: block;
    }
  }
  .content{
    max-width: 85%!important;
    .text{
      display: block;
      .message-bubble{
        display: block;
        box-sizing: border-box;
      }
    }
    audio{
      height: 66px;
      width: 261px;
    }
  }
  .author{
    font-size: 11px!important;
    color: rgba($secondary-text, .45) !important;
  }
  
}
.message-time{
  color: rgba($secondary-text, .45) !important;
  font-size: 9px;
  -webkit-font-smoothing :  antialiased;
}
.window-message-receive{
  padding: 1px 0!important;
  margin: 1px 0!important;
  .comment .content{
    margin-left: 2.5em!important;
  }
  .message-content {
      .message-bubble{
        background-color: $tertiary-background;
        color: $tertiary-text;
      }
  }
  .message-time{
    float: left;
    padding-top: 2px;
    padding-left: 5px;
  }
  .author{
    padding-left: 3px!important;
    height: 15px!important;
    -webkit-font-smoothing :  antialiased;
  }
  .text{
    -webkit-font-smoothing :  antialiased;
  }
  .avatar{
    margin-top: 0!important;
  }
  .message-read-receipt{
    display: none;
  }
}
.window-message-self {
  padding: 1px 0px 1px 0!important;
  margin: 1px 0!important;
  .comment .content{
    margin-right: 5px!important;
    float: right!important;
    display: inline-block!important;
    margin-bottom: 7.5px!important;
    .author{
      padding-right: 4px!important;
      height: 15px!important;
      float: right;
      -webkit-font-smoothing :  antialiased;
    }
    .text{
      -webkit-font-smoothing :  antialiased;
      margin: 0!important;
      a{
      color: $primary-text!important;
      }
    }
  }
  .message-content {
    float: right;
      .message-bubble{
        // background-color: $primary-background;
        background-color: $primary-background;
        color: $primary-text;
      }
    .cc-read{
      path{
        fill: $primary-background;
      }
    }
    .cc-unread {
      path{
        fill: rgba($secondary-text, .45) !important;
      }
    }

  }
  .message-time{
    float: right;
    padding-top: 2px;
    padding-right: 2px;
  }
  .avatar{
    float: right!important;
    margin-top: 0!important;

  }
}

.window-message-self.cc-window-message-clubbing{
  .comment{
    .content{
      padding-right: 30px!important;
    }
  }
}
.window-message-self.cc-window-message-first{
  .comment{
    .message-content{
      margin-top: 3.5px!important;
    }
  }
}
.cc-window-message-first{
  min-height: 58.5px!important;
  .comment{
    min-height: 49.5px!important;
  }
}
.cc-window-message-clubbing{
  min-height: 42.5px!important;
}
.ui.segment.window-content {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $secondary-background;
  display: block;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  border: 0;
  .ui.comments {
    padding: 6px 0;
    margin: 6px 0;
    // &:hover {
    //   background-color: #eee;
    // }
  }
  .ui.comments .comment .metadata {
    float: right;
  }

  .ui.comments .comment .metadata.role {
    float: initial;
  }
}
.ui.segment.window-content.cc-popup {
  height: calc(100% - 101px);
  max-height: 369px;
}

.ui.segment.window-content.cc-embed {
  height: calc(100% - 117px);
}

// .message-content {
//     width: 93%;
//     margin-right: 0;
//     padding-right: 0;
//     display: inline-block;
// }
.cc-window-content-announcment{
  text-align: center;
  font-size: 12px;
  color: rgba($secondary-text, .48) !important;
  height: 20px;
  line-height: 20px;
}
.message-content {
    // width: 93%;
    max-width: 100%;
    margin-right: 0;
    padding-right: 0;
    display: inline-block;
    .message-bubble{
      word-wrap: break-word;
      white-space: pre-wrap;
      width: auto;
      background-color: $tertiary-background;
      color: $tertiary-text;
      padding: 6px 10px;
      border-radius: 13px;
      .ifc-url-render{
        display: block;
        white-space: pre-wrap;
        word-wrap: break-word;
        cursor: pointer;
      }
    }
    video.message-bubble {
      max-width: 100%;
      height: auto;
    }
}

.message-read-receipt {
    display: inline-block;
    float: right;
    padding-top: 1px;
}
.ui.comments.window-message{
  max-width: 1200px;
  // min-height: 2em!important;
}

.cc-app-mobile {
  .ui.segment.window-content.cc-popup {
    height: calc(100% - 123px);
    max-height: initial;
  }
  .text{
      .message-content{
        .message-bubble{
          font-size: 20px;
        }
    }
  }
  .window-message{
    .author{
      font-size: 13px!important;
    }
  }
}
.ifc-render-inline-image {
  max-width: 100%;
}
