.ui.segment.window-content {
  overflow-y: auto;
  background-color: #fafafb;
  .ui.comments {
    padding: 6px 0;
    margin: 6px 0;
    &:hover {
      background-color: #eee;
    }
  }
  .ui.comments .comment .metadata {
    float: right;
  }

  .ui.comments .comment .metadata.role {
    float: initial;
  }
}
.ui.segment.window-content.cc-popup {
  height: calc(100% - 103px);
}
.ui.segment.window-content.cc-embed {
  height: calc(100% - 117px);
}

.message-content {
    width: 93%;
    margin-right: 0;
    padding-right: 0;
    display: inline-block;
}

.message-read-receipt {
    width: 5%;
    display: inline-block;
}
