.cc-list-header{
background-color: #3f46ad!important;
width: 100%;
text-align: center;
border-radius: 0!important;
border-right: 2px solid #fff!important;
// margin:0!important;
// box-shadow: none!important;
  .cc-list-header-text{
    font-size: 18px;
    color: #fff;
    display: inline-block;
    margin-left: 18px!important;
    font-weight: normal;
  }
}
