#ifc-app .chatcamp-welcome-bubble {
  *{
    cursor: pointer;
  }
  // width: 317px;
  // height: 100px;
  position: fixed;
  bottom : 32px;
  right: 20px;
  cursor: pointer;
  .chatcamp-wb-left{
    width: 225px;
    height: 65px;
    max-height: 60px;
    background-color: #ffffff;
    border: none;
    float: left;
    top: -30px;
    position: relative;
    right: -24px;
    border-radius: 99rem;
    // -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16)!important;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,.1)!important;
    .chatcamp-wb-left-text{
      margin: 20px 0;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      font-size: 15px;
      color: #222;
    }
  }
  .chatcamp-wb-right{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: $primary-background;
    padding: 10px;
    float: right;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16)!important;
    .chatcamp-wb-right-image{
      width: 100%;
      margin-left: 13px;
      margin-top: 12px;
      height: 100%;
      display: block;
    }
    .chatcamp-wb-notification{
      display: inline-block;
      background: #fa3e3e;
      font-size: 11px;
      width: 21px;
      height: 21px;
      border-radius: 21px;
      text-align: center;
      color: white;
      line-height: 21px;
      position: absolute;
      top: 2px;
      left: 54px;
      -webkit-font-smoothing: antialiased;
    }
  }
  .chatcamp-wb-close{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    display: inline-block;
    background-color: #fff;
    position: relative;
    top: -36px;
    right: -10px;
    opacity: 0.7;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,.1)!important;
    .chatcamp-wb-right-icon{
      margin:6px;
      width: 12px;
    }
  }
}
