.cc-avatar-size-36{
  width: 36px!important;
  height: 36px!important;
  border-radius: 36px!important;
}
.cc-avatar-size-30{
  width: 30px!important;
  height: 30px!important;
  border-radius: 30px!important;
}
